{% extends 'base1.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}

 

           <br><br>

            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control"class="btn btn-success" placeholder="Search here">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                  
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul>
<table class="table"border="5" align="5">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'offres') {
                                                    if (id !== 'error') {
                                                        entitySelector.append('<li><b>'+value[1]+'</b><a href="/offre/'+id+'"><img src="/images/restaurants/'+value[0]+'" style="width: 60px; height: 60px"/></a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>

    <h1>Offre index</h1>
<table class="table"border="5" align="5">
    
        <thead >
            <tr >
                <th>Id</th>
                <th>Duree</th>
                <th>Solde</th>
                <th>Description</th>
                <th>TypeAbonnement</th>

            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.duree }}</td>
                <td>{{ offre.solde }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.typeAbonnement }}</td>

                <td>

                    <a class="btn btn-success" href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>
                <td> {{ include('offre/_delete_form.html.twig') }}</td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
   
        </tbody>
    </table>
     </table>
     {{ knp_pagination_render(offres) }}


    <a  class="btn btn-info btn-icon-text" href="{{ path('offre_new') }}">Create new</a>
{% endblock %}
